<h1>Welcome to DigitalBazaar</h1>

<nav>
  <ul>
    <li><%= link_to 'About Us', '#' %></li>
    <li><%= link_to 'Features', '#' %></li>
    <li><%= link_to 'Parsing', '#' %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Profile', user_path(current_user) %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Start Selling', new_user_registration_path %></li>
      <li><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
  </ul>
</nav>

<h2>Categories</h2>
<ul>
  <li><%= link_to '3D', '#' %></li>
  <li><%= link_to 'Education', '#' %></li>
  <li><%= link_to 'Design', '#' %></li>
  <li><%= link_to 'Audio', '#' %></li>
  <li><%= link_to 'Drawing & Painting', '#' %></li>
  <li><%= link_to 'Photography', '#' %></li>
  <li><%= link_to 'Gaming', '#' %></li>
  <li><%= link_to 'Fitness & Health', '#' %></li>
</ul>
